.my-masonry-grid {
  display: flex;
  margin-left: -20px;
}
.my-masonry-grid_column {
  border-left: 20px solid transparent;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements in <masonry> */
  background: rgb(243, 190, 92);
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}
.starships {
  width: 100%;
}
.starship_info {
  padding: 10px 0;
  font-size: 12px;
  margin: 10px;
}
.starship_header {
  padding: 10px 0;
  font-size: 18px;
}
.my-masonry-grid_column > div > a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.my-masonry-grid_column > div > a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(212, 157, 6);
}
.cardInfo {
  padding: 10px;
}
.loader {
  border: 16px solid #ffffff; /* Light grey */
  border-top: 16px solid #ffd000; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
